@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/gilroy-regular.ttf);
}

@font-face {
    font-family: GilroyMedium;
    src: url(..//assets/fonts/gilroy-medium.ttf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../assets/fonts/gilroy-bold.ttf);
}

@font-face {
    font-family: GilroyExtraBold;
    src: url(../assets/fonts/gilroy-extrabold.ttf);
}

@font-face {
    font-family: Tavolga;
    src: url(../assets/fonts/tavolga_free.ttf);
}

body {
    font-family: Gilroy, sans-serif;
    margin: 0;
}

.header {
    background: #eba8b1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 24px;
}

.header__menu {
    margin-left: 233px;
}

.menu__list {
    list-style: none;
    display: flex;
    margin-right: 40px;
    position: relative;
}

.menu__item {
    margin-right: 40px;
    transition: all;
    transition-duration: 300ms;
}

.menu__item::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    bottom: 0;
    left: 50%;
    height: 1px;
    background: #821328;
    transform: translateX(-50%);
    transition: all 1s;
}

.menu__item:hover::after {
    width: 100%;
}

.menu__link {
    text-decoration: none;
    font-family: GilroyMedium, sans-serif;
    font-size: 14px;
    color: rgb(119, 11, 29);
}

.phone {
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);

}

.header__phone {
    margin-left: auto;
}

.main {
    background: #eba8b1;
    overflow: hidden;
}

.main__container {
    padding-top: 127px;
    padding-bottom: 108px;

}

.main__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-template-rows: repeat(3, minmax(auto, auto));

}

.main__title {
    font-size: 55px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    padding-top: 18px;
    padding-bottom: 25px;
    z-index: 2;
}

.main__description {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.389;
    max-width: 348px;
    padding-top: 30px;
    padding-bottom: 40px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    z-index: 2;
}

.main__action {
    padding-top: 80px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    z-index: 2;
}

.main__button {
    padding: 20px 41px;
    font-size: 18px;
    width: 240px;
}

.main__image {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    position: relative;
    border: 1px solid transparent;
    border-radius: 50%;

}

.main__image::before,
.main__image::after {
    content: '';
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 120%;
    border: 1px solid #770a1d;
    border-radius: 50%;
    animation: main__image-animation 4s ease infinite;
    z-index: 1;
}

.main__image::after {
    animation: main__image-animation 4.3s ease infinite;
}

.main__image-img {
    display: block;
    position: relative;
    z-index: 10;
}

@keyframes main__image-animation {

    from {
        transform: scale(40%);
        opacity: 1;
    }

    to {
        transform: scale(140%);
        opacity: 0;
    }
}

.advantages {
    background: #ffefef;
    position: relative;
    z-index: 2;
}

.advantages__container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    justify-content: space-between;
}

.advantages__image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: flex-end;

}

.advantages__title {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    padding-bottom: 30px;
    max-width: 475px;
}

.advantages__description {
    padding-top: 30px;
    max-width: 400px;
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
}

.advantages__items {
    display: grid;
    grid-template-columns: repeat(4, 235px);
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 83px;
}

.products {
    background: #eba8b1;
}

.products__container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.products__title {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 141px;
}

.products__items {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(auto, auto));
    gap: 29px;
}

.order {
    background: #ffefef;
}

.order__container {
    display: flex;
    align-items: center;
    padding-top: 98px;
    padding-bottom: 120px;
    position: relative;
}

.order__back-image-img1 {
    display: block;
    position: absolute;
    top: 148px;
    left: 10px;
    animation-name: order-image-img1-animation;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes order-image-img1-animation {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}

.order__back-image-img2 {
    position: absolute;
    display: block;
    bottom: 195px;
    right: 171px;
    animation-name: order-image-img2-animation;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes order-image-img2-animation {
    from {
        transform: translateY(-7px);
    }

    to {
        transform: translateY(20px);
    }
}


.order__image {
    margin-left: 32px;
}

.order__form-info {
    margin-left: 161px;
    max-width: 410px;
}

.order__title {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    margin-bottom: 41px;
}

.order__text-message {
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    margin-bottom: 48px;
}

.order__form-item {
    margin-bottom: 25px;
}

.order__form-item-text1 {
    font-size: 18px;
    font-family: GilroyBold, sans-serif;
    color: rgb(18, 10, 6);
    margin-bottom: 20px;
}

.base-input {
    padding: 22px 26px 24px 26px;
    background-color: rgb(255, 239, 239);
    border: 1px solid #821328;
    width: 295px;
    border-radius: 35px;
    font-size: 15px;
    font-family: GilroyBold, sans-serif;
    color: rgb(118, 12, 34);
    box-sizing: border-box;
}

.base-input::placeholder {
    font-size: 15px;
    font-family: GilroyBold, sans-serif;
    color: rgb(118, 12, 34);
}

.order__form-item-text2 {
    font-size: 18px;
    font-family: GilroyBold;
    color: rgb(18, 10, 6);
    margin-bottom: 22px;
}

.order__base-input {
    margin-bottom: 15px;
}


.order__button {
    width: 295px;
    padding: 22px 75px;
}

.footer {
    background: #c0707c;
}

.footer__container {
    padding-top: 73px;
    padding-bottom: 62px;
    display: flex;
    align-items: center;
    position: relative;
}

.footer__right {
    padding-top: 19px;
    font-size: 12px;
    font-family: "Gilroy";
    color: rgb(227, 172, 180);
}

.footer__right2 {
    display: none;
    font-size: 12px;
    font-family: "Gilroy";
    color: rgb(227, 172, 180);
}

.footer__image {
    margin: 0 auto;
}

.footer__link {
    text-decoration: none;
}

.gift {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.gift__text {
    visibility: hidden;
    right: 20px;
    top: 10px;
    position: relative;
    width: 172px;
    box-sizing: border-box;
    background: #feefee;
    border: 2px solid #770a1d;
    border-radius: 10px;
    font-family: GilroyMedium, sans-serif;
    font-size: 15px;
    line-height: 1.333;
    color: rgb(119, 10, 29);
    line-height: 1.333;
    padding: 15px 10px;
    transform: translateY(140px);
    transition: all 1.5s;

}

.gift__text::before {
    content: '';
    position: absolute;
    display: block;
    border: 13px solid transparent;
    border-left: 13px solid rgb(119, 10, 29);
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
    box-sizing: border-box;
}

.gift__text::after {
    content: '';
    position: absolute;
    display: block;
    border: 11px solid transparent;
    border-left: 11px solid #feefee;
    top: 50%;
    transform: translateY(-50%);
    right: -22px;
    box-sizing: border-box;

}

.gift__icon {
    /* visibility: hidden; */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: linear-gradient(0deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.gift__icon:hover {
    box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.gift:hover .gift__text {
    visibility: visible;

    opacity: 1;
    transform: translateY(-10px);
}

.gift__icon-img {
    width: 50%;
    height: 50%;
    margin-right: 10px;
}

.cart__count {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgb(119, 10, 29);
    background: #feefee;
    position: fixed;
    right: 30px;
    bottom: 90px;
    text-align: center;
    color: rgb(119, 10, 29);

}

.header__burger {
    display: none;
}

.close {
    display: none;
}


@media screen and (max-width: 1169px) {

    .main__image-img {
        object-fit: cover;
    }

    .advantages__image-img {
        object-fit: cover;
    }


    .products__items {
        grid-template-columns: repeat(2, minmax(auto, auto));
        grid-template-rows: repeat(2, minmax(auto, auto));
        justify-content: center;
        grid-row-gap: 136px;
    }

    .order__back-image-img2 {
        bottom: 200px;
        right: 40px;
    }

}

/*от 768 до 1023*/
@media screen and (max-width: 1023px) {
    .header__menu {
        margin-left: 103px;
    }

    .header__phone {
        display: none;
    }

    .main__container {
        padding-top: 73px;
        padding-bottom: 62px;
    }

    .main__info {
        grid-template-columns: repeat(3, minmax(auto, auto));
        grid-template-rows: repeat(3, minmax(auto, auto));
    }

    .main__title {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .main__description {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        padding-top: 50px;
        padding-bottom: 21px;
    }

    .main__action {
        padding-top: 20px;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .main__image {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        position: relative;
    }

    .advantages__info {
        grid-template-rows: repeat(3, minmax(auto, auto));
        justify-content: center;
    }


    .advantages__title {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .advantages__description {
        max-width: 668px;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }


    .advantages__image {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        margin-bottom: 44px;
        width: 302px;
        margin-left: auto;
        margin-right: auto;
    }

    .advantages__image-img {
        width: 100%;
    }

    .advantages__items {
        grid-template-columns: repeat(2, 235px);
        grid-template-rows: repeat(2, minmax(auto, auto));
        justify-content: center;
        margin-top: 44px;
        grid-column-gap: 54px;
        grid-row-gap: 80px;
    }

    .order__container {
        padding-top: 120px;
        padding-bottom: 120px;
        position: relative;
    }

    .order__back-image-img1 {
        top: 350px;
        left: 372px;
        position: absolute;
    }

    .order__back-image-img2 {
        bottom: 550px;
        right: 108px;
        position: absolute;
    }

    .order__image {
        margin-left: auto;
        margin-right: 0;
        order: 2;
        margin-top: 238px;
        position: relative;
    }

    .order__image-img {
        width: 370px;
        position: absolute;
        right: -3px;
        bottom: -220px;
    }

    .order__form-info {
        margin-left: 0;

    }


}


@media screen and (max-width: 767px) {


    .header {
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    .header__container {
        justify-content: space-between;
        padding-top: 34px;
        padding-bottom: 34px;

    }

    .header__menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background-color: #000000c9;
    }

    .header__phone {
        display: none;
    }

    .header__burger {
        display: block;
        cursor: pointer;
    }

    .main__container {
        padding-top: 154px;
        padding-bottom: 43px;
    }

    .main__info {
        display: grid;
        grid-template-columns: repeat(1, minmax(auto, auto));
        grid-template-rows: repeat(5, minmax(auto, auto));
    }

    .main__title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 32px;
        line-height: 1.25;
        text-align: center;
        padding-bottom: 20px;
    }

    .main__description {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 1.438;
        text-align: center;
        margin: 0 auto;
    }

    .main__action {
        padding-top: 20px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    .main__image {
        padding-top: 20px;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        justify-self: center;
        /* position: static; */

    }

    .main__image::before {
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .main__image::after {
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .main__image-img {
        width: 250px;
        /* position: static; */
    }

    .advantages__container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .advantages__title {
        font-size: 30px;
        line-height: 1.167;
        text-align: center;
        padding-bottom: 20px;
    }

    .advantages__description {
        padding-top: 20px;
        font-size: 16px;
        line-height: 1.437;
        text-align: center;
        padding-bottom: 30px;
    }

    .advantages__items {
        margin-top: 30px;
        grid-template-columns: repeat(2, minmax(auto, auto));
        grid-template-rows: repeat(2, minmax(auto, auto));
        grid-column-gap: 10px;
        grid-row-gap: 36px;
    }

    .products__container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .products__title {
        font-size: 30px;
        margin-bottom: 122px;
    }

    .products__items {
        grid-template-columns: none;
        grid-template-rows: repeat(4, minmax(auto, auto));
        gap: 142px;
    }

    .order__container {
        padding-top: 100px;
        padding-bottom: 77px;
    }

    .order__title {
        font-size: 30px;
        margin-bottom: 44px;
    }

    .order__text-message {
        font-size: 16px;
        line-height: 1.437;
    }

    .order__back-image-img1 {
        top: 229px;
        left: 285px;
    }

    .order__back-image-img2 {
        display: none;
    }

    .order__image-img {
        display: none;
    }

    .order__text-message {
        margin-bottom: 60px;
    }

    .order__base-input {
        width: 345px;
    }

    .order__button {
        width: 345px;
    }

    .footer__container {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        gap: 40px;
    }

    .footer__logo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        order: 1;
    }


    .footer__right {
        text-align: center;
        display: none;
    }

    .footer__phone {
        order: 2;
    }

    .footer__image {
        order: 3;
    }

    .footer__right2 {
        display: block;
        order: 4;
    }

    .burger {
        display: none;
    }

    .close {
        display: none;
    }

    .header__menu.open {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 199;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 30px;
    }

    .menu__item {
        margin: 0 auto;
    }

    .menu__link {
        font-size: 30px;
        color: rgb(255, 255, 255);
    }

    .header__menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(255, 255, 255);
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

@media screen and (max-width: 374px) {

    .order__back-image-img1 {
        top: 229px;
        left: 210px;
    }

    .order__base-input {
        width: 290px;
    }

    .order__button {
        width: 290px;
    }

}